.navHeight {
  height: 200px;
}

.searchHeight {
  height: 60px;
  top: 160px;
}

a.brand-logo.mainLogo {
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  padding:  35px;
  top: 10px;
}

nav {
  ul {
    width: 177px
  }
}

