@import "nav";
@import "favorites";
@import "citySearch";
@import "loginRegister";
@import "nav";
@import "index";

// .searchHeight {
//   z-index: 1;
//   input {
//     width: 100%;
//   }
// }
.v-card-title-font {
  font-family: 'Quicksand', sans-serif;
}

.v-card-font {
  font-family: 'EB Garamond', serif;
}

.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: flex-start;
  // align-content: flex-start;
}

.line-height {
  line-height: 80%;
}

.full-width {
  width: 100%;
}

.flex-container-width {
  width: 90%;
  margin: auto;
}

.v-inner-padding {
    padding: 1% 2% !important;
}

.search-font {
  font-family: 'EB Garamond', serif;
}