.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
}
