<h1>city search</h1>

<div ng-include="'partials/nav.html'"></div>

<input type="text" ng-model="cityToSearch" placeholder="City and State to search?">
<button ng-click="searchDatabase(cityToSearch)">search</button>


<h1 ng-bind="cityToSearch"></h1>

<div class="row">
  <div class="col s12 m4 l3" ng-repeat="restaurant in restaurants">
    <div class="card large sticky-action">
      <div class="card-image waves-effect waves-block waves-light card">
        <img class="activator" ng-src="{{restaurant.photoPath}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{restaurant.name}}<i class="material-icons right">more_vert</i></span>  
        <p><a href="" ng-click="addToFavorites(restaurant); toastAlert(restaurant.name)">Add to Favorites</a></p>
      <!-- add variable to scope and then pass it back to the toast -->
      <!-- ng-click alertToast(restaurant.name) -->


      </div>
      <div class="card-reveal">
        <span class="card-title green-text text-darken-4">{{restaurant.name}}<i class="material-icons right">close</i></span>
        <p>{{restaurant.address}}</p>
        <p>{{restaurant.locality}}, {{restaurant.region}}</p>
        <p>{{restaurant.tel}}</p>
        <p><a target="_blank" ng-href="{{restaurant.website}}">{{restaurant.website}}</a></p>
      </div>
    </div>
  </div>
</div>  
