
<div ng-controller="NavCtrl">
  <div class="navbar-fixed">
    <nav class="green darken-1 navHeight">
      <div class="nav-wrapper">
        <a href="#/citySearch" class="brand-logo">VWAY</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li><a href="#/citySearch"><i class=" large material-icons">search</a></li>
        
          <li><a href="#/favorites">
          <i class="large material-icons"><img src="/images/heartIconNav.png"</i></i>
          </a></li>
                  
          <li><a ng-click="logout()"><i class="large material-icons">lock_open </i></a></li>
       
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#/citySearch">Search</a></li>
          <li><a href="#/favorites">Favorites</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
 <!-- 

<input type="text" ng-model="cityToSearch" placeholder="City and State to search?">
<button ng-click="searchDatabase(cityToSearch)">search</button>



</div>

