<div ng-controller="NavCtrl">
  <div class="navbar-fixed">
    <nav class="green darken-1 navHeight">
      <div class="vway-title">
        <a href="#/citySearch" class="brand-logo mainLogo">VWAY</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile v-nav-inline" class="right hide-on-med-and-down">

          <li><a href="#/citySearch"><i class=" large material-icons">search</a></li>
        
          <li><a href="#/favorites">
          <i class="large material-icons"><img src="/images/heart-outline-nav.png"</i></i>
          </a></li>

          <li><a ng-click="logout()"><i class="large material-icons">lock_open </i></a></li>
       
        </ul>
        <ul class="side-nav v-card-title-font" id="mobile-demo">
          <li><a href="#/citySearch" class="v-sidenav-fontsize">Search</a></li>
          <li><a href="#/favorites" class="v-sidenav-fontsize">Favorites</a></li>
          <li><a ng-click="logout()" class="v-sidenav-fontsize">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

