.login-font {
  font-family: 'Quicksand', sans-serif;
}

.login-logo-font {
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
}

.description-font {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}